body {
}
.menu
{
    }
.dropdown:hover>.dropdown-menu
{
    display:block;
    }
.nav1
{
    font-family: "Lucida Sans Unicode",Verdana,Arial,sans-serif;

    }
.nav1 li
{
    text-align:center;
    margin:5px;
    width:auto;
    background-color:#b9debf70;
    border-radius:25px;
    min-width:100px;
    }
.nav1 li:hover
{
    background-color:#78b9cc;
    transition:2s;
    }
.nav li a
{
    color:#FFFFFF;
    }
.nav1 li a
{
    color:Black;
    text-align:center;
    }
.nav1 li a:hover
{
    color:Black;
    }
.nav2
{
    text-align:center;
    margin:0px;
    width:auto;
    background-color:#34c54c70;
    border-radius:25px;
    min-width:150px;
    }
.nav2 a:hover
{
    border-radius:25px;
    }